<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Blog Posts</div>
    <div class="ui top attached">
        <div class="ui cards">
            <% blogs.forEach((blog) => { %>
                <div class="ui fluid card">
                    <div class="image">
                        <img src="<%= blog.image %>">
                    </div>
                    <div class="content">
                        <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- blog.body.substring(0, 100) %>...</p>
                        </div>
                        <div class="extra">
                            <a class="ui teal button fluid" href="/blogs/<%= blog._id %>">Read More</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>



<% include ./partials/footer %>